@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Roboto&family=Ubuntu&display=swap');

:root {
    --radius-logo: 8px;
}




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, "fontawesome";
    font-style: normal;
    scroll-behavior: smooth;
}

body {
    background-color: #E5E5E5;
}

/* navigation bar */
nav {
    position: fixed;
    z-index: 3;
    width: 100%;
    background-color: #DBDADA;
    transform: translateY(-100px);
    animation: hidden-nav 1s linear forwards 1s;
}

h1 {
    font-size: clamp(40px, 7vw, 4rem);
    margin: 0px 0 60px 0;
}

p {
    text-align: center;
}

.main-nav {
    position: relative;
}

.main-nav #logo {
    position: absolute;
    width: 40px;
    top: 50%;
    bottom: 50%;
    left: 30px;
    transform: translate(-50%, -50%);
    border-radius: var(--radius-logo);
    cursor: pointer;
}

.control {
    display: none;
}

.main-nav ul {
    list-style: none;
    padding: 15px;
    display: flex;
    justify-content: right;
    user-select: none;
}

.main-nav ul li {
    margin: 0 10px;
    text-align: center;
}

.main-nav ul li:last-child {
    margin-right: 5%;
}

.main-nav ul li a {
    text-decoration: none;
    color: black;
    transition: color 0.3 s ease;
}

.main-nav ul li a:hover {
    color: rgb(201, 98, 61);
}


/* navigation bar end */
.main-content {
    min-height: 100vh;
    position: relative;
}

.main-content:nth-child(even) {
    background-color: #f9f9f9;
}

/* milestone content */
.background {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.background::after {
    content: "";
    position: absolute;
    z-index: -1;
    background-image: url("\\images\\mtpspecialthanks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
    min-width: 100%;
    min-height: 100%;
    animation: fadeIn 1s ease-in-out forwards 1s;
}

@keyframes fadeIn {
    to {
        opacity: 0.3;
    }
}

.background img {
    display: block;
    width: 15vh;
    border-radius: 14px;
    box-shadow: 0 0 23px rgb(81, 42, 42);
    animation: img-show 2s linear forwards;
}

.background h1 {
    font-size: clamp(40px, 6vw, 4rem);
    opacity: 0;
    background: linear-gradient(180deg, #955855 0%, #1E363A 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-show 1s ease-in-out 1s forwards;
    position: absolute;
    opacity: 0;
    transform: translateY(200px);
}

@keyframes text-show {
    to {
        opacity: 1;
        transform: translateY(150px);
    }
}

@keyframes img-show {
    0% {
        transform: scale(3);
    }

    50% {
        transform: scale(3);
    }

    to {
        transform: scale(1);
    }
}

@keyframes hidden-nav {
    to {
        transform: translateY(0);
    }
}





/* Special thanks section */

.special-thanks {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 0 10px;
}



.special-thanks .content {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    min-height: 70%;
    overflow: hidden;
    justify-content: center;
    gap: 20px;
}

.content .container-img {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.content .container-img img {
    border-radius: 14px;
    width: 200px;
}

.special-thanks .content .content-body {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    row-gap: 50px;
    text-align: center;
    font-size: 1.3em;
}

.special-thanks .content .content-body p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.special-thanks .content .content-body button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #D9D9D9;
    transition: background-color 0.2s ease-in-out;
    font-size: 20px;
}

.special-thanks .content .content-body button:hover {
    background-color: rgb(199, 201, 201);
    text-transform: capitalize;
}


/* the-first-gift */
.main-content>div {
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.the-first-gift {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    gap: 30px;
    color: rgb(134, 134, 139);
}

.the-first-gift h1 {
    font-family: "Ubuntu", "Roboto";
    background: linear-gradient(90deg, rgb(255, 167, 69), rgb(254, 134, 159) 30%, rgb(239, 122, 200) 45%, rgb(160, 131, 237) 70%, rgb(67, 174, 255) 85%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.the-first-gift .content-body {
    display: grid;
    grid-template-columns: calc(50% - 25px) calc(50% - 25px);
    gap: 50px;
}

.the-first-gift .gift--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.the-first-gift .gift--content .video {
    width: 100%;
    border-radius: 10px;
}

.the-first-gift .gift--content video {
    width: 100%;
    display: block;
    border-radius: 10px;
    user-select: none;
}

.video {
    color: rgb(228, 88, 88);
    z-index: 0;
    position: relative;
}

.video:hover {
    cursor: pointer;
}

.video::before {
    content: "";
    font: "fontawesome";
    font-size: 30px;
    border-radius: 10px;
    position: absolute;
    background-color: rgba(83, 83, 83, 0);
    clip-path: circle(0px at 90% 10%);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease-in-out;
}

.video:hover::before {
    content: "\f04b";
    background-color: rgba(83, 83, 83, 0.5);
    clip-path: circle(150% at 90% 10%);
}

.video:hover.play::before {
    content: "\f04c";
}

.the-first-gift .discription {
    text-align: center;
    font-size: 1.7rem;
}

.video:hover * {
    opacity: 1;
}

.play-music {
    display: flex;
    flex-direction: row;
}


.nav-selection {
    background-color: #f5f5f5;
    position: relative;
    transition: all 0.8s ease-in-out;
}

.nav-selection ul {
    list-style: none;
    margin-top: 15px;
    padding-right: 10px;
}

.nav-selection li {
    padding: 7px 25px;
    width: 100%;
    border-radius: 7px;
    cursor: pointer;
}

.nav-selection li:hover {
    background-color: red;
    color: white;
}

.nav-selection li:hover::before {
    content: "\f04b";
    position: absolute;
    left: 15px;
    color: white;
}


.nav-selection li {
    text-decoration: none;
    color: rgba(0, 0, 0, .65);
}


.main-play {
    flex: 1;
}

#control-play {
    display: none;
}

#control-play-label {
    z-index: 2;
    opacity: 0.2;
    transition: all 0.5s ease-in-out 0.2s;
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    position: absolute;
    top: 50%;
    left: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#control-play-label:hover {
    opacity: 1;

}

#control-play-label::before {
    content: "\f100";
    position: absolute;
    z-index: 2px;
    color: rgb(71, 34, 34);
    transition: all 0.8s ease-in-out;
}

#control-play:checked~.nav-selection {
    transform: translateX(-500px);
}

#control-play:checked~#control-play-label {
    transform: translateX(-200px);
}

.main-play {
    transition: all 0.8s ease-in-out;
}

#control-play:checked~.main-play {
    transform: translateX(-100px);
}

#control-play:checked~#control-play-label::before {
    content: "\f101";
    left: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.control-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
}

.control-btn span {
    padding: 5px;
    font-size: large;
    color: crimson;
    cursor: pointer;
}

.control-range {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.control-range,
input[type=range] {
    width: 100%;
}

input[type="range"] {
    height: 5px;
}



@keyframes fadeIn-li {
    20% {
        transform: translateY(0);
    }

    40% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }

}



body {
    position: relative;
}

footer {
    display: flex;
    justify-content: center;

}

footer .toast-message {
    padding: 10px 30px 10px 10px;
    background-color: rgba(255, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    position: fixed;
    transform: translateY(100px);
    bottom: 10px;
    border-radius: 30px;
    width: 95%;
    z-index: 1000;
    text-align: right;
}

@keyframes message-show {
    20% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(0);
    }
}

@media screen and (max-width: 550px) {

    .control {
        position: relative;
        display: block;
        padding: 10px;
        right: 15px;
        text-align: right;
    }

    .hide,
    .main-nav #logo {
        display: none;
    }

    .main-nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .main-nav ul li {
        padding: 20px;
        width: 100%;
        margin: 0 !important;
        text-align: center;
    }

    .milestone::after {
        background-position: center;
        background-size: auto 100%;

    }

    .the-first-gift .content-body {
        grid-template-columns: 100%;
    }

    .the-first-gift .discription {
        margin: 30px 0 50px 0;
    }

}